In [720]:
import pandas as pd
import numpy as np
import os

In [721]:
#pip install pandas

In [722]:
# Helper Methods

def generate_column_info(df):
    cls = []
    nullCount = []
    nonNullCount = []
    nullsPct = []
    uniqCount = []
    dataType = []
    for i,col in enumerate(df.columns):
        cls.append(col)
        nullCount.append(df[col].isnull().sum())
        nonNullCount.append(len(df)-df[col].isnull().sum())
        nullsPct.append((df[col].isnull().sum())*(100)/len(df))
        uniqCount.append(df[col].nunique())
        dataType.append(df[col].dtype)
        
    column_info = pd.DataFrame(
        {'ColumnName': cls,
         'NullCount': nullCount,
         'NonNullCount': nonNullCount,
         'NullPercent': nullsPct,
         'UniqueValueCount': uniqCount,
         'DataType':dataType
        })
    return(column_info)

## Data

In [723]:
abbr_dict = {
    'flight_Liquefied Natural Gas ImpExp Equipment.xls':'LNG_IMEX',
    'flight_Liquefied Natural Gas Storage.xls':'LNG_STOR',
    'flight_Natural Gas Local Distribution Companies.xls':'NG_LDC',
    'flight_Natural Gas Processing.xls':'NG_PROC',
    'flight_Natural Gas TransmissionCompression.xls':'NG_COMP',
    'flight_Offshore Petroleum & Natural Gas Production.xls':'PROD_OFF',
    'flight_Onshore Natural Gas Transmission Pipelines.xls':'NG_PIPE',
    'flight_Onshore Petroleum & Natural Gas Gathering & Boosting.xls':'NG_GNB',
    'flight_Onshore Petroleum & Natural Gas Production.xls':'PROD_ON',
    'flight_Other Petroleum & Natural Gas Systems.xls':'ONG_OTH',
    'flight_Underground Natural Gas Storage.xls':'NG_STOR',
}

sub_sector_dict = {
    'NG_LDC':'NaturalGasDistribution',
    'PROD_OFF':'OffshoreProduction',
    'PROD_ON':'OnshoreProduction',
}

In [724]:
#pip install pyxlsb

In [725]:
#directory_path = 'C://Users//shashank.bekal//PythonWorkArea//Jnana-Research//OKC-Facilities//files'
directory_path = './/files'
all_files = os.listdir(directory_path)
xls_files = [file for file in all_files if file.endswith('.xls')]

print(xls_files)

['flight_Liquefied Natural Gas ImpExp Equipment.xls', 'flight_Liquefied Natural Gas Storage.xls', 'flight_Natural Gas Local Distribution Companies.xls', 'flight_Natural Gas Processing.xls', 'flight_Natural Gas TransmissionCompression.xls', 'flight_Offshore Petroleum & Natural Gas Production.xls', 'flight_Onshore Natural Gas Transmission Pipelines.xls', 'flight_Onshore Petroleum & Natural Gas Gathering & Boosting.xls', 'flight_Onshore Petroleum & Natural Gas Production.xls', 'flight_Other Petroleum & Natural Gas Systems.xls', 'flight_Underground Natural Gas Storage.xls']

In [726]:
facilities_master_df = pd.DataFrame()
for file_name in xls_files:
    file_dict = pd.read_excel(f'.//files/{file_name}',sheet_name=None,skiprows=6)
    file_df = pd.concat(file_dict, ignore_index=True)
    file_df["Abbr"] = abbr_dict[file_name]
    #print((file_name))
    facilities_master_df = pd.concat([facilities_master_df,file_df])
#print('---')
print(len(facilities_master_df))

C:\Users\shankze\AppData\Local\Temp\ipykernel_8412\2884616571.py:4: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  file_df = pd.concat(file_dict, ignore_index=True)
C:\Users\shankze\AppData\Local\Temp\ipykernel_8412\2884616571.py:4: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  file_df = pd.concat(file_dict, ignore_index=True)
C:\Users\shankze\AppData\Local\Temp\ipykernel_8412\2884616571.py:4: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  file_df = pd.concat(file_dict, ignore_index=True)
C:\Users\shankze\AppData\Local\Temp\ipykernel_8412\2884616571.py:4: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  file_df = pd.concat(file_dict, ignore_index=True)
C:\Users\shankze\AppData\Local\Temp\ipykernel_8412\2884616571.py:4: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  file_df = pd.concat(file_dict, ignore_index=True)
C:\Users\shankze\AppData\Local\Temp\ipykernel_8412\2884616571.py:4: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  file_df = pd.concat(file_dict, ignore_index=True)
C:\Users\shankze\AppData\Local\Temp\ipykernel_8412\2884616571.py:4: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  file_df = pd.concat(file_dict, ignore_index=True)
C:\Users\shankze\AppData\Local\Temp\ipykernel_8412\2884616571.py:4: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  file_df = pd.concat(file_dict, ignore_index=True)
C:\Users\shankze\AppData\Local\Temp\ipykernel_8412\2884616571.py:4: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  file_df = pd.concat(file_dict, ignore_index=True)
C:\Users\shankze\AppData\Local\Temp\ipykernel_8412\2884616571.py:4: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  file_df = pd.concat(file_dict, ignore_index=True)

30781

In [727]:
#df

In [728]:
required_subsectors = ['PROD_OFF','PROD_ON']

In [729]:
# filter by 3 required subsectors
facilities_master_df = facilities_master_df[facilities_master_df['Abbr'].isin(required_subsectors)]
facilities_master_df['sub_sector'] = facilities_master_df['Abbr'].map(sub_sector_dict)
facilities_master_df = facilities_master_df.rename(columns={'GHG QUANTITY (METRIC TONS CO2e)':'GHG QUANTITY'})
facilities_master_df = facilities_master_df.rename(columns={'GHGRP ID':'facility_id','REPORTING YEAR':'reporting_year'})
facilities_master_df = facilities_master_df.drop(['FACILITY NAME','SUBPARTS'],axis=1)

In [730]:
#generate_column_info(facilities_master_df)

In [731]:
#facilities_master_df

## Facilities Metadata

In [732]:
# facilities_metadata_df = pd.read_csv('rlps_ghg_emitter_facilities.csv')
# facilities_metadata_df = facilities_metadata_df[['facility_id','year','epa_verified']]
# facilities_metadata_df

In [733]:
# facilities_metadata_df.columns

In [734]:
# facilities_metadata_df[facilities_metadata_df.duplicated(subset=['facility_id','year'])]

In [735]:
# facilities_master_df = pd.merge(facilities_master_df,facilities_metadata_df,how='left',left_on=['GHGRP ID','REPORTING YEAR'],right_on=['facility_id','year'])

In [736]:
# facilities_master_df

In [737]:
# facilities_master_df.columns

In [738]:
# generate_column_info(facilities_master_df)

## Combustion Sources

In [739]:
#emissions_by_unit_df = pd.read_excel('emissions_by_unit_and_fuel_type_c_d_aa.xlsx',engine="openpyxl", sheet_name="UNIT_DATA")
c_df = pd.read_excel('emissions_by_unit_and_fuel_type_c_d_aa.xlsx', sheet_name="UNIT_DATA",skiprows=6)
c_df['Reporting Year'] = c_df['Reporting Year'].astype(int)
c_df['Facility Id'] = c_df['Facility Id'].astype(int)
c_df = c_df.rename(columns={'Facility Id':'facility_id','Facility Name':'facility_name','Reporting Year':'reporting_year'})
c_df = c_df.rename(columns={'Unit Type':'reporting_category','Unit CO2 emissions (non-biogenic) ':'total_co2_emissions','Unit Methane (CH4) emissions ':'total_ch4_emissions'})
c_df = c_df.rename(columns={'Unit Nitrous Oxide (N2O) emissions ':'total_n2o_emissions'})
c_df = c_df.drop(columns=['Unit Reporting Method','City','Primary NAICS Code','FRS Id','Industry Type (subparts)','Industry Type (sectors)','Unit Biogenic CO2 emissions (metric tons)'])
c_df = c_df.rename(columns={'Unit Maximum Rated Heat Input Capacity (mmBTU/hr)':'maximum_rated_heat_input_capacity','State':'state'})
#c_df = c_df[c_df['reporting_category'].notna()]
c_df['subpart'] = 'SubpartC'
c_df

,facility_id,facility_name,state,reporting_year,Unit Name,reporting_category,maximum_rated_heat_input_capacity,total_co2_emissions,total_ch4_emissions,total_n2o_emissions,subpart
0,1001155,1500 South Tibbs LLC d/b/a Aurorium Indianapol...,IN,2023,GP-1,NaN,91.8,64740.5,30.50,36.356,SubpartC
1,1012147,17Z Gas Plant - Chevron USA Inc.,CA,2018,CP-03.00,OCS (Other combustion source),30.0,3304.7,1.50,1.788,SubpartC
2,1012147,17Z Gas Plant - Chevron USA Inc.,CA,2018,CP-03.01,OCS (Other combustion source),30.0,0.2,0.00,0.000,SubpartC
3,1012147,17Z Gas Plant - Chevron USA Inc.,CA,2018,CP-03.02,OCS (Other combustion source),30.0,175.0,0.00,0.000,SubpartC
4,1012147,17Z Gas Plant - Chevron USA Inc.,CA,2017,CP-03.00,OCS (Other combustion source),30.0,9106.1,4.25,5.066,SubpartC
...,...,...,...,...,...,...,...,...,...,...,...
268773,1003318,ZYBACH CRYOGENIC PLANT,TX,2015,GP-Zybach,OCS (Other combustion source),32.0,33757.8,16.00,19.072,SubpartC
268774,1003318,ZYBACH CRYOGENIC PLANT,TX,2014,GP-Zybach,OCS (Other combustion source),32.0,32901.2,15.50,18.476,SubpartC
268775,1003318,ZYBACH CRYOGENIC PLANT,TX,2013,GP-Zybach,OCS (Other combustion source),32.0,42700.7,20.25,24.138,SubpartC
268776,1003318,ZYBACH CRYOGENIC PLANT,TX,2012,GP-Zybach,OCS (Other combustion source),32.0,46840.7,22.00,26.224,SubpartC
268777,1003318,ZYBACH CRYOGENIC PLANT,TX,2011,GP-Zybach,OCS (Other combustion source),32.0,53482.2,25.25,30.098,SubpartC

# Emission Source

In [740]:
w_df = pd.read_csv('ef_w_emissions_source_ghg.csv',encoding = 'ISO-8859-1')
w_df['reporting_year'] = w_df['reporting_year'].astype(int)
w_df['facility_id'] = w_df['facility_id'].astype(int)
w_df = w_df.drop(columns=['bamm_desc_source_summary','bamm_indicator_source_summary','industry_segment'])
w_df = w_df.rename(columns={'total_reported_co2_emissions':'total_co2_emissions'})
w_df = w_df.rename(columns={'total_reported_ch4_emissions':'total_ch4_emissions'})
w_df = w_df.rename(columns={'total_reported_n2o_emissions':'total_n2o_emissions'})
w_df['total_ch4_emissions'] = w_df['total_ch4_emissions'] * 25
w_df['total_n2o_emissions'] = w_df['total_n2o_emissions'] * 298
w_df['subpart'] = 'SubpartW'
w_df

,basin_associated_with_facility,facility_id,facility_name,reporting_category,reporting_year,total_ch4_emissions,total_co2_emissions,total_n2o_emissions,subpart
0,NaN,1003447,UGC - DRAGON TRAIL GAS PLANT - 08-103-00036,Enhanced Oil Recovery Hydrocarbon Liquids [98....,2016,NaN,0.0,NaN,SubpartW
1,NaN,1004777,Great Lakes Gas Transmission Pipeline Shevlin ...,Completions and Workovers with Hydraulic Fract...,2023,0.00,0.0,0.0,SubpartW
2,"220 - Gulf Coast Basin (LA, TX)",1009706,"SilverBow Resources, LLC - Basin 220",Completions and Workovers without Hydraulic Fr...,2020,0.00,0.0,0.0,SubpartW
3,NaN,1012154,580 - San Juan Basin Gathering/Boosting,Dehydrators [98.236(e)],2018,94270.75,1223.8,0.0,SubpartW
4,NaN,1004849,CONROE NATURAL GAS PROCESSING PLANT,Reciprocating Compressors [98.236(p)],2015,1825.50,4.4,NaN,SubpartW
...,...,...,...,...,...,...,...,...,...
503055,NaN,1005688,STATION #7 - MOUNTAINAIR CMP STN,Natural Gas Driven Pneumatic Pumps [98.236(c)],2018,0.00,0.0,NaN,SubpartW
503056,NaN,1007441,Eunice Gas Plant,Combustion Equipment at Onshore Petroleum and ...,2021,0.00,0.0,0.0,SubpartW
503057,395 - Williston Basin,1010002,Murex Petroleum Corporation - Williston Basin 395,Completions and Workovers without Hydraulic Fr...,2019,0.00,0.0,0.0,SubpartW
503058,NaN,1012624,Repsol Pipelines LLC - Eagle Ford,Onshore Production [98.236(aa)(1)],2016,NaN,NaN,NaN,SubpartW
503059,NaN,1013307,Callon Permian Basin Gathering and Boosting,Equipment Leaks Surveys and Population Counts ...,2021,3158.50,1.7,NaN,SubpartW

## ConCat c_df and w_df

In [741]:
df = pd.concat([c_df,w_df], ignore_index=True)

In [742]:
generate_column_info(df)

,ColumnName,NullCount,NonNullCount,NullPercent,UniqueValueCount,DataType
0,facility_id,0,771838,0.000000,9564,int64
1,facility_name,0,771838,0.000000,10447,object
2,state,503060,268778,65.176889,54,object
3,reporting_year,0,771838,0.000000,14,int64
4,Unit Name,503060,268778,65.176889,21995,object
5,reporting_category,9103,762735,1.179393,117,object
6,maximum_rated_heat_input_capacity,556592,215246,72.112542,6996,float64
7,total_co2_emissions,46286,725552,5.996854,181252,float64
8,total_ch4_emissions,108182,663656,14.016154,55506,float64
9,total_n2o_emissions,250372,521466,32.438413,15814,float64
10,subpart,0,771838,0.000000,2,object
11,basin_associated_with_facility,615675,156163,79.767386,44,object

In [743]:
# df['total_ghg_emissions'] = df['total_co2_emissions'] + df['total_ch4_emissions'] + df['total_n2o_emissions']
# df = df[df['total_ghg_emissions']>0]

In [744]:
len(df)

771838

## Rename Reporting Category

In [745]:
reporting_category_names_df = pd.read_csv('reporting_categories.csv')
df = pd.merge(df, reporting_category_names_df, how='left',on=['reporting_category'])
df = df.drop('reporting_category',axis=1)
df = df.rename(columns={'REVISED_COLUMNNAME':'reporting_category'})

## Concat Pneumatic Devices from detailed dataset

In [746]:
len(df[df.reporting_category == 'NG_PneumaticDevices'])

24595

In [747]:
df.columns

Index(['facility_id', 'facility_name', 'state', 'reporting_year', 'Unit Name',
       'maximum_rated_heat_input_capacity', 'total_co2_emissions',
       'total_ch4_emissions', 'total_n2o_emissions', 'subpart',
       'basin_associated_with_facility', 'reporting_category'],
      dtype='object')

In [748]:
# Drop Pneumatic Devices from original dataset
df = df[df.reporting_category != 'NG_PneumaticDevices']

# add them from this csv file
pneumatic_devices_df = pd.read_csv('ef_w_ngpneumatic_dev_units.csv')
pneumatic_devices_df = pneumatic_devices_df[['facility_id','reporting_year','facility_name','estimated_number_of_hours','pneumatic_device_type','total_count','pneum_device_type_tot_co2_emm','total_ch4_emissions']]
pneumatic_devices_df=pneumatic_devices_df.rename(columns={'pneumatic_device_type':'Unit Name','estimated_number_of_hours':'pneu_est_no_of_hours','total_count':'pneu_dev_total_count','pneum_device_type_tot_co2_emm':'total_co2_emissions'})
pneumatic_devices_df['total_ch4_emissions'] = pneumatic_devices_df['total_ch4_emissions'] * 25
pneumatic_devices_df['total_n2o_emissions'] = 0
pneumatic_devices_df['reporting_category'] = 'NG_PneumaticDevices'
pneumatic_devices_df['subpart'] = 'SubpartW'

df = pd.concat([df,pneumatic_devices_df], ignore_index=True)
df = df.drop(columns=['state'])

## Concat AssociatedGasVentingFlaring from detailed dataset

In [749]:
len(df[df.reporting_category == 'AssociatedGasVentingFlaring'])

22328

In [750]:
# Drop AssociatedGasVentingFlaring from original dataset
df = df[df.reporting_category != 'AssociatedGasVentingFlaring']

In [751]:
# add them from this csv file
venting_flaring_df = pd.read_csv('ef_w_associated_ng_units.csv')

In [752]:
venting_flaring_df['total_co2_emissions'] =  venting_flaring_df['basin_ag_flaring_co2_emissions'] + venting_flaring_df['basin_ag_venting_co2_emissions']
venting_flaring_df['total_ch4_emissions'] =  venting_flaring_df['venting_ch4_emissions'] + venting_flaring_df['flaring_ch4_emissions']
venting_flaring_df = venting_flaring_df.drop(['basin_ag_flaring_co2_emissions','basin_ag_venting_co2_emissions','venting_ch4_emissions','flaring_ch4_emissions'],axis=1)
venting_flaring_df = venting_flaring_df.rename(columns={'flaring_n2o_emissions':'total_n2o_emissions'})
venting_flaring_df['total_ch4_emissions'] = venting_flaring_df['total_ch4_emissions'] * 25
venting_flaring_df['total_n2o_emissions'] = venting_flaring_df['total_n2o_emissions'] * 298
venting_flaring_df['reporting_category'] = 'AssociatedGasVentingFlaring'
venting_flaring_df['subpart'] = 'SubpartW'
venting_flaring_df = venting_flaring_df.drop(['facility_name','industry_segment','wells_two_year_delay'], axis=1)
df = pd.concat([df,venting_flaring_df], ignore_index=True)

## Concat AtmosphericTanks from detailed dataset

In [753]:
len(df[df.reporting_category == 'AtmosphericTanks'])

22328

In [754]:
# Drop AssociatedGasVentingFlaring from original dataset
df = df[df.reporting_category != 'AtmosphericTanks']

In [756]:
# add them from this csv file
athmospheric_tanks_df = pd.read_csv('ef_w_atm_stg_tanks_calc1or2.csv')

In [758]:
athmospheric_tanks_df['total_co2_emissions'] =  athmospheric_tanks_df['dump_valve_co2_emissions'] + athmospheric_tanks_df['flaring_co2_emissions'] + athmospheric_tanks_df['vapor_recovery_co2_emissions'] + athmospheric_tanks_df['venting_co2_emissions']
athmospheric_tanks_df['total_ch4_emissions'] =  athmospheric_tanks_df['dump_valve_ch4_emissions'] + athmospheric_tanks_df['flaring_ch4_emissions'] + athmospheric_tanks_df['vapor_recovery_ch4_emissions']+athmospheric_tanks_df['venting_ch4_emissions'] 
athmospheric_tanks_df = athmospheric_tanks_df.rename(columns={'flaring_n2o_emissions':'total_n2o_emissions'})
athmospheric_tanks_df = athmospheric_tanks_df.drop(['dump_valve_co2_emissions','flaring_co2_emissions','vapor_recovery_co2_emissions','venting_co2_emissions'],axis=1)
athmospheric_tanks_df = athmospheric_tanks_df.drop(['dump_valve_ch4_emissions','flaring_ch4_emissions','vapor_recovery_ch4_emissions','venting_ch4_emissions'],axis=1)
athmospheric_tanks_df['total_ch4_emissions'] = athmospheric_tanks_df['total_ch4_emissions'] * 25
athmospheric_tanks_df['total_n2o_emissions'] = athmospheric_tanks_df['total_n2o_emissions'] * 298
athmospheric_tanks_df=athmospheric_tanks_df[['facility_id','reporting_year','total_co2_emissions','total_ch4_emissions','total_n2o_emissions','annual_ch4_recovered','annual_co2_recovered','atmospheric_tank_count',
                                             'average_a_p_i_gravity','average_separator_pressure','average_separator_temperature',
                                             'hrs_dump_valves_did_not_close','not_on_well_pad_tank_count','num_seps_with_stuck_dump_val',
                                             'number_of_wells_send_oil','tanks_venting_to_atm','tanks_with_flaring','tanks_with_vapor_recovery',
'total_volume_of_oil']]
athmospheric_tanks_df['reporting_category'] = 'AtmosphericTanks'
athmospheric_tanks_df['subpart'] = 'SubpartW'

Index(['annual_ch4_recovered', 'annual_co2_recovered', 'api_well_numbers',
       'atmospheric_tank_count', 'average_a_p_i_gravity',
       'average_separator_pressure', 'average_separator_temperature',
       'calculation_method', 'county_and_state', 'facility_id',
       'facility_name', 'total_n2o_emissions', 'hrs_dump_valves_did_not_close',
       'industry_segment', 'max_flash_ch4_concentration',
       'max_gas_co2_concentration', 'min_flash_ch4_concentration',
       'min_flash_co2_concentration', 'not_on_well_pad_tank_count',
       'num_seps_with_stuck_dump_val', 'number_of_wells_send_oil',
       'reporting_year', 'software_package_used', 'sub_basin_identifier',
       'table_desc', 'table_num', 'tanks_venting_to_atm', 'tanks_with_flaring',
       'tanks_with_vapor_recovery', 'total_volume_of_oil',
       'two_year_delay_indicator', 'were_emissions_flared',
       'were_emissions_vapor_recovery', 'were_emissions_vent_to_atm',
       'total_co2_emissions', 'total_ch4_emissions', 'reporting_category',
       'subpart'],
      dtype='object')

In [ ]:
athmospheric_tanks_2_df = pd.read_csv('ef_w_atm_stg_tanks_calc3.csv')
athmospheric_tanks_2_df['total_co2_emissions'] =  athmospheric_tanks_2_df['co2_emissions_from_flare'] + athmospheric_tanks_2_df['co2_emissions_not_flared']
athmospheric_tanks_2_df['total_ch4_emissions'] =  athmospheric_tanks_2_df['ch4_emissions_from_flare'] + athmospheric_tanks_2_df['ch4_emissions_not_flared']
athmospheric_tanks_2_df = athmospheric_tanks_2_df.drop(['co2_emissions_from_flare','co2_emissions_not_flared','ch4_emissions_from_flare','ch4_emissions_not_flared'],axis=1)
athmospheric_tanks_2_df = athmospheric_tanks_2_df.rename(columns={'n2o_emissions_from_flare':'total_n2o_emissions'})
athmospheric_tanks_2_df['total_ch4_emissions'] = athmospheric_tanks_2_df['total_ch4_emissions'] * 25
athmospheric_tanks_2_df['total_n2o_emissions'] = athmospheric_tanks_2_df['total_n2o_emissions'] * 298
athmospheric_tanks_2_df=athmospheric_tanks_2_df[['facility_id','reporting_year','total_co2_emissions','total_ch4_emissions','total_n2o_emissions',
                                                 'annual_oil_throughput','atmospheric_tank_count','fract_oil_throughput_flaring',
                                                'fract_throughput_with_vapor','tanks_with_flares','tanks_without_flares',
                                                'wells_with_seps','wells_without_seps']]
athmospheric_tanks_2_df['reporting_category'] = 'AtmosphericTanks'
athmospheric_tanks_2_df['subpart'] = 'SubpartW'

In [645]:
df = pd.concat([df,athmospheric_tanks_df,athmospheric_tanks_2_df], ignore_index=True)
len(df)

786183

In [ ]:
generate_column_info(df)

## Create total_ghg_emissions column

In [646]:
df['total_ghg_emissions'] = df['total_co2_emissions'] + df['total_ch4_emissions'] + df['total_n2o_emissions']
df = df[df['total_ghg_emissions']>0]

In [647]:
len(df)

335229

In [648]:
generate_column_info(df)

,ColumnName,NullCount,NonNullCount,NullPercent,UniqueValueCount,DataType
0,facility_id,0,335229,0.000000,9470,int64
1,facility_name,0,335229,0.000000,10346,object
2,reporting_year,0,335229,0.000000,14,int64
3,Unit Name,58104,277125,17.332629,21539,object
4,maximum_rated_heat_input_capacity,129879,205350,38.743366,6937,float64
5,total_co2_emissions,0,335229,0.000000,178780,float64
6,total_ch4_emissions,0,335229,0.000000,39812,float64
7,total_n2o_emissions,0,335229,0.000000,15814,float64
8,subpart,0,335229,0.000000,2,object
9,basin_associated_with_facility,296434,38795,88.427314,44,object
10,reporting_category,97423,237806,29.061627,26,object
11,pneu_est_no_of_hours,316887,18342,94.528516,3398,float64
12,pneu_dev_total_count,316889,18340,94.529113,2273,float64
13,total_ghg_emissions,0,335229,0.000000,235786,float64

## Filter df to only required subsectors

In [649]:
facilities_in_required_subsectors = facilities_master_df['facility_id'].unique()

In [650]:
print(len(df))
df = df[df.facility_id.isin(facilities_in_required_subsectors)]
print(len(df))

335229
42034

## Join Facilities Metadata

In [651]:
df = pd.merge(df,facilities_master_df,how='left',on=['facility_id','reporting_year'])

In [652]:
#df

In [653]:
generate_column_info(df)

,ColumnName,NullCount,NonNullCount,NullPercent,UniqueValueCount,DataType
0,facility_id,0,42034,0.000000,1149,object
1,facility_name,0,42034,0.000000,1284,object
2,reporting_year,0,42034,0.000000,13,object
3,Unit Name,29368,12666,69.867250,459,object
4,maximum_rated_heat_input_capacity,36014,6020,85.678260,766,float64
5,total_co2_emissions,0,42034,0.000000,20289,float64
6,total_ch4_emissions,0,42034,0.000000,20270,float64
7,total_n2o_emissions,0,42034,0.000000,2734,float64
8,subpart,0,42034,0.000000,2,object
9,basin_associated_with_facility,13905,28129,33.080364,44,object
10,reporting_category,179,41855,0.425846,26,object
11,pneu_est_no_of_hours,35388,6646,84.188990,2776,float64
12,pneu_dev_total_count,35388,6646,84.188990,2133,float64
13,total_ghg_emissions,0,42034,0.000000,35161,float64
14,REPORTED ADDRESS,7700,34334,18.318504,746,object
15,LATITUDE,151,41883,0.359233,786,float64
16,LONGITUDE,151,41883,0.359233,784,float64
17,CITY NAME,151,41883,0.359233,191,object
18,COUNTY NAME,27394,14640,65.171052,166,object
19,STATE,151,41883,0.359233,22,object
20,ZIP CODE,151,41883,0.359233,268,object
21,PARENT COMPANIES,310,41724,0.737498,1281,object
22,GHG QUANTITY,151,41883,0.359233,7855,object
23,Abbr,151,41883,0.359233,2,object
24,BASIN NAME/NUMBER,7868,34166,18.718181,43,object
25,sub_sector,151,41883,0.359233,2,object

## Calculate diff_percent_GHG column

In [655]:
df = df[df['GHG QUANTITY']>0]
#df = df.drop(columns=['GHGRP ID','REPORTING YEAR'])

In [656]:
df['diff'] = (df['GHG QUANTITY']-df['total_ghg_emissions']).abs()
df['diff_percent_GHG']=100*df['diff']/df['GHG QUANTITY']
df

,facility_id,facility_name,reporting_year,Unit Name,maximum_rated_heat_input_capacity,total_co2_emissions,total_ch4_emissions,total_n2o_emissions,subpart,basin_associated_with_facility,...,COUNTY NAME,STATE,ZIP CODE,PARENT COMPANIES,GHG QUANTITY,Abbr,BASIN NAME/NUMBER,sub_sector,diff,diff_percent_GHG
0,1002685,AC 857 A,2023,GP- Perdido AC-857,249.36,165355.9,81.25,104.598,SubpartC,NaN,...,NaN,TX,0,SHELL PETROLEUM INC (100%),180279,PROD_OFF,NaN,OffshoreProduction,14737.252,8.174691
1,1002685,AC 857 A,2022,GP- Perdido AC-857,249.36,192278.8,93.50,118.604,SubpartC,NaN,...,NaN,TX,0,SHELL PETROLEUM INC (100%),205454,PROD_OFF,NaN,OffshoreProduction,12963.096,6.309488
2,1002685,AC 857 A,2021,GP- Perdido AC-857,249.36,221761.0,107.00,133.802,SubpartC,NaN,...,NaN,TX,0,SHELL PETROLEUM INC (100%),235653,PROD_OFF,NaN,OffshoreProduction,13651.198,5.792923
3,1002685,AC 857 A,2020,GP- Perdido AC-857,249.36,181377.1,89.75,116.816,SubpartC,NaN,...,NaN,TX,0,SHELL PETROLEUM INC (100%),195341,PROD_OFF,NaN,OffshoreProduction,13757.334,7.042727
4,1002685,AC 857 A,2019,GP- Perdido AC-857,249.36,202022.8,98.00,123.372,SubpartC,NaN,...,NaN,TX,0,SHELL PETROLEUM INC (100%),214993,PROD_OFF,NaN,OffshoreProduction,12748.828,5.929881
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42029,1009390,XTO Energy Inc 430 Permian,2016,Intermittent Bleed Pneumatic Devices,NaN,307.6,80210.50,0.000,SubpartW,NaN,...,NaN,TX,79707,EXXONMOBIL CORP (100%),485281,PROD_ON,430 - Permian Basin,OnshoreProduction,404762.9,83.407943
42030,1008783,CNX Gas Company LLC -160A Appalachian Basin Ea...,2023,Intermittent Bleed Pneumatic Devices,NaN,9.5,41158.00,0.000,SubpartW,NaN,...,NaN,PA,15317,CNX RESOURCES CORP (100%),159940,PROD_ON,160A - Appalachian Basin (Eastern Overthrust A...,OnshoreProduction,118772.5,74.26066
42031,1011763,"EagleRidge Operating, LLC. Strawn Basin",2016,Intermittent Bleed Pneumatic Devices,NaN,59.7,1125.00,0.000,SubpartW,NaN,...,NaN,TX,75219,EAGLERIDGE OPERATING LLC (100%),1601,PROD_ON,415 - Strawn Basin,OnshoreProduction,416.3,26.002498
42032,1014504,CrownQuest Operating - Basin 430,2020,Low-Bleed Pneumatic Devices,NaN,1.9,4142.00,0.000,SubpartW,NaN,...,NaN,TX,79705,"Crownquest Operating, LLC (100%)",351349,PROD_ON,430 - Permian Basin,OnshoreProduction,347205.1,98.820574
42033,1013377,Lime Rock Resources Pecos Valley,2021,Low-Bleed Pneumatic Devices,NaN,2.8,1741.00,0.000,SubpartW,NaN,...,LOVING COUNTY,TX,79754,ROSEHILL RESOURCES (100%),175118,PROD_ON,430 - Permian Basin,OnshoreProduction,173374.2,99.004214

In [657]:
generate_column_info(df)

,ColumnName,NullCount,NonNullCount,NullPercent,UniqueValueCount,DataType
0,facility_id,0,41881,0.000000,1149,object
1,facility_name,0,41881,0.000000,1282,object
2,reporting_year,0,41881,0.000000,13,object
3,Unit Name,29289,12592,69.933860,448,object
4,maximum_rated_heat_input_capacity,35922,5959,85.771591,760,float64
5,total_co2_emissions,0,41881,0.000000,20192,float64
6,total_ch4_emissions,0,41881,0.000000,20244,float64
7,total_n2o_emissions,0,41881,0.000000,2728,float64
8,subpart,0,41881,0.000000,2,object
9,basin_associated_with_facility,13769,28112,32.876483,44,object
10,reporting_category,176,41705,0.420238,26,object
11,pneu_est_no_of_hours,35248,6633,84.162269,2775,float64
12,pneu_dev_total_count,35248,6633,84.162269,2133,float64
13,total_ghg_emissions,0,41881,0.000000,35039,float64
14,REPORTED ADDRESS,7549,34332,18.024880,746,object
15,LATITUDE,0,41881,0.000000,786,float64
16,LONGITUDE,0,41881,0.000000,784,float64
17,CITY NAME,0,41881,0.000000,191,object
18,COUNTY NAME,27243,14638,65.048590,166,object
19,STATE,0,41881,0.000000,22,object
20,ZIP CODE,0,41881,0.000000,268,object
21,PARENT COMPANIES,159,41722,0.379647,1280,object
22,GHG QUANTITY,0,41881,0.000000,7854,object
23,Abbr,0,41881,0.000000,2,object
24,BASIN NAME/NUMBER,7717,34164,18.426017,43,object
25,sub_sector,0,41881,0.000000,2,object
26,diff,0,41881,0.000000,41741,object
27,diff_percent_GHG,0,41881,0.000000,41788,object

In [658]:
df['Abbr'].value_counts()

Abbr
PROD_ON     34331
PROD_OFF     7550
Name: count, dtype: int64

In [661]:
df.reporting_category.unique()

array([nan, 'Group_CombustionSources', 'ReciprocatingCompressors',
       'Heaters', 'Turbines', 'Boilers', 'FlareStacks',
       'AtmosphericTanks', 'CombustionEquipment',
       'CompletionsandWorkovers_wo_HydFrac', 'Dehydrators',
       'EquipmentLeaks', 'CompletionsandWorkovers_w_HydFrac',
       'Offshore_Prod', 'WellCompletions', 'NG_PneumaticPumps',
       'AssociatedGasVentingFlaring', 'WellTesting', 'GasWellCompletions',
       'CentrifugalCompressors', 'EOR_HC_Liquids', 'AcidGasRemovalUnits',
       'EOR_InjPumpBlowdown', 'Other', 'WellVenting',
       'GasProdOilToAtmTanks', 'NG_PneumaticDevices'], dtype=object)

In [662]:
#AssociatedGasVentingFlaring

# AtmosphericTanks